<template>
  <div  class="chart">
    <h4>{{title}}</h4>
    <canvas id="planet-chart"/>
  </div>
</template>

<script>
import Chart from 'chart.js'

export default {
  name: 'kpi-bar-chart',
  props: ['title', 'chartData', 'chartType'],
  data () {
    return {
      planetChartData: this.$store.state.chartData
    }
  },
  mounted () {
    this.createChart('planet-chart', this.chartData)
  },
  methods: {
    createChart (chartId, chartData) {
      const ctx = document.getElementById(chartId)
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options
      })
    }
  }
}
</script>

<style scoped>
</style>
