@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  overflow: hidden;
}

.setting {
  margin: 10px;
  float: left;
}

.container {
  width: 1000px;
}

.chart {
  width: 200px;
  height: 200px;
  float: left;
}

.settings-container {
  width: 200px;
  float: left;
  text-align: left;
}

