<template>
  <div>
    <h1>Markt KPI Visualisierung</h1>
    <div class="container">
      <div class="setting">
        <label>Markt</label>
        <select class="input" v-model="selectedMarket" v-on:change="selectedMarket">
          <option v-for="type in markets" v-bind:value="type">
            {{type}}
          </option>
        </select>
      </div>
        <div class="setting">
          <label>Ø Mitarbeiterzahl</label>
          <input type="checkbox" v-model="showAverageEmployeeKpi">
        </div>
        <div class="setting">
          <label>Ø Umsatz</label>
          <input type="checkbox" v-model="showAverageRevenueKpi">
          <select class="input" v-model="selectedMeanRevenueType" v-on:change="selectedMeanRevenueType">
            <option v-for="type in meanRevenueTypes" v-bind:value="type">
              {{type}}
            </option>
          </select>
        </div>
        <div class="setting">
          <label>Ø Umsatzwachstum</label>
          <input type="checkbox" v-model="showAverageGrowthKpi">
        </div>
        <div class="setting">
          <label>Ø Marge</label>
          <input type="checkbox" v-model="showAverageMarginKpi">
        </div>
    </div>
    <div class="container">
      <kpi-bar-chart v-if="showAverageMarginKpi" title="Ø Marge" :chartData="averageMarginKpi"/>
      <kpi-bar-chart v-if="showAverageGrowthKpi" title="Ø Umsatzwachstum" :chartData="averageGrowthKpi" />
    </div>
    <div class="container">
      <kpi-bar-chart v-if="showAverageRevenueKpi" title="Ø Umsatz" :chartData="averageRevenueKpi"/>
      <kpi-bar-chart v-if="showAverageEmployeeKpi" title="Ø Mitarbeiterzahl" :chartData="averageEmployeeKpi" />
    </div>
  </div>
</template>

<script>
import KpiBarChart from './../components/KpiBarChart'
import getKpisForMarket from './../scripts/KpiDataLoader'
import axios from 'axios'

export default {
  name: 'kpi-screen',
  components: {KpiBarChart},
  data () {
    return {
      reach: false,
      markets: this.$store.state.markets,
      meanRevenueTypes: this.$store.state.meanRevenueTypes,
      showAverageEmployeeKpi: false,
      showAverageRevenueKpi: false,
      showAverageGrowthKpi: false,
      showAverageMarginKpi: false,
      averageEmployeeKpi: this.$store.state.AverageEmployeesKpiChart,
      averageRevenueKpi: this.$store.state.averageRevenueKpi,
      averageGrowthKpi: this.$store.state.averageGrowthKpi,
      averageMarginKpi: this.$store.state.averageMarginKpi
    }
  },
  mounted () {
    axios.get('http://localhost:5000/kpis/all/' + this.$store.state.selectedMarket)
      .then(response => {
        console.log(response.data)
        //console.log(response.data[0].value)
        this.$store.state.AverageEmployeesKpiChart.data.datasets[0].data[0] = response.data[0].value
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  computed: {
    selectedMarket: {
      get () { return this.$store.state.selectedMarket },
      set (newValue) { this.$store.state.selectedMarket = newValue }
    },
    selectedMeanRevenueType: {
      get () { return this.$store.state.selectedMeanRevenueType },
      set (newValue) { this.$store.state.selectedMeanRevenueType = newValue }
    }
  },
  methods: {
  }
}
</script>

<style scoped>
</style>
